html, body{
    height: 150%;
}
#grad {
    background-image: linear-gradient(red 15%, black 50%);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }