<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--css-->
    {{#each style}}
    <link rel="stylesheet" type="text/css" href="css/{{this}}">
    {{/each}}
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--font awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.css">

    <title>{{title}}</title>
</head>

<body>
    <!--Nav-->
    <li class="nav justify-content-end">
        <a href="#" class="nav-link text-white">
            <i class="fa fa-id-badge" aria-hidden="true"></i>
            login
        </a>
    </li>
    <nav class="navbar navbar-expand-lg shadow text-light sticky-top">
        <a class="navbar-brand text-light" href="#">NMCNPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Team</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link text-light">OverView</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">About</a>
                </li>
            </ul>
            <form class="form-inline md-form form-sm mt-0">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
    <!--/Nav-->

    <!--container-->
    {{{body}}}

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>
    {{#each js}}
    <script type="text/javascript" src="js/{{this}}"></script>
    {{/each}}

</body>

</html>