<div class="container-fluid">
    <div class="row">
        <div class="col-9 d-flex align-items-center justify-content-start flex-column mt-auto text-white ">
            <div class="h4">
                What's game we play??
            </div>
            <div class="h1" style="font-size: 80px;">
                WE PLAY
            </div>
            <div class="h1 text-danger" style="font-size: 100px;">
                NAMEGAME
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header">
                    UP COMING MATCHES
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </li>
                        <li class="list-group-item">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </li>
                        <li class="list-group-item">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="title" id="123">
        <h1>Tournament Title</h1>
    </div>
    <div class="bracket my-5"></div>
    <input type = "hidden" id = "hiddenObject" value = {{bracketFormat}}/>
    
</div>
<script>
    var doubleElimination = document.getElementById("hiddenObject").value;
    init(doubleElimination);
</script>
