<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8 d-flex align-items-center justify-content-start flex-column mt-auto text-white ">
            <div class="h4">
                What's game we play??
            </div>
            <div class="h1" style="font-size: 80px;">
                WE PLAY
            </div>
            <div class="h1 text-danger" style="font-size: 100px;">
                {{tournament.nameGame}}
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center custom-card">
                <div class="card-header">
                    UP COMING MATCHES
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush maxH-group">
                        <li class="list-group-item">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>plyer11d23</p>
                                    <p>VS</p>
                                    <p>plyer111111</p>
                                </div>
                                <div class="float-right">
                                    <p>0</p>
                                    <p>-</p>
                                    <p>1</p>
                                </div>
                            </div>
                            <h6 class="mt-2">15/2/2019</h6>
                        </li>
                        <li class="list-group-item ">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>plyer1123</p>
                                    <p>VS</p>
                                    <p>plyer111111</p>
                                </div>
                                <div class="float-right">
                                    <p>0</p>
                                    <p>-</p>
                                    <p>1</p>
                                </div>
                            </div>
                            <h6 class="mt-2">15/2/2019</h6>
                        </li><li class="list-group-item ">
                            <div class="clearfix "> 
                                <div class="float-left maxW">
                                    <p>plyer1123</p>
                                    <p>VS</p>
                                    <p>plyer111111</p>
                                </div>
                                <div class="float-right">
                                    <p>0</p>
                                    <p>-</p>
                                    <p>1</p>
                                </div>
                            </div>
                            <h6 class="mt-2">15/2/2019</h6>
                        </li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="title" id="123">
        <h1>{{tournament.nameTournament}}</h1>
    </div>
    <div class="bracket my-5"></div>
    
</div>
{{#section 'js'}}
<script>
    var doubleElimination = {{{bracketFormat}}};
    if ({{isAuthenticated}}){
        init(doubleElimination);
    }
    else{
        initGuest(doubleElimination);
    }
</script>
{{/section}}

