
    <!--container-->
    <div class="container">
       <div class="mb-4">
           <p class="h1 text-center" style="color: rgb(255, 185, 185);">THỐNG KÊ TRẬN ĐẤU</p>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <table class="table table-hover text-white">
                <thead>
                    <tr>
                    <th scope="col">Player 1</th>
                    <th scope="col">vs</th>
                    <th scope="col">Player 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>3012</td>
                    <td>Network</td>
                    <td>1308</td>
                    </tr>
                    <tr>
                    <td>11111</td>
                    <td>Exp</td>
                    <td>3456</td>
                    </tr>
                    <tr>
                    <td>13</td>
                    <td>Kill</td>
                    <td>30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
