
    <!--container-->
    <div class="container">
        <div class="title mb-2">
            <p class="h1 text-white">Basic Information</p>
        </div>
        <div class="card mb-2 d-flex align-items-center justify-content-center rounded-pill" style="max-width:1000px; max-height: 300px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./img/240c5c46001087.58ad6abb98b20.png" class=" rounded-pill" width="300px" height="300px" alt="avatar">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                <div class="row">
                    <ul class="card-text col">
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                    </ul>
                    <ul class="card-text col">
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                        <li>this is 1 line</li>
                    </ul>
                </div>
                  <blockquote class="blockquote text-center">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
        <div class="title">
            <p class="h1 text-white">About</p>
        </div>
        <div class='text-white'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem architecto odit placeat amet autem quis quaerat officia sapiente, maiores laudantium atque quod, facilis, deleniti consequuntur veritatis saepe doloribus quasi dolore!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium illum enim suscipit cum, ipsum incidunt et doloribus amet? Reprehenderit animi at ut aperiam voluptate officiis doloremque molestiae officia dolorum ducimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eaque quam dicta ex. Reprehenderit eveniet mollitia velit maxime iure rerum ipsam molestias. Odit debitis quis similique facilis, nam quam nulla?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quibusdam adipisci totam laborum asperiores veniam, maxime possimus qui harum blanditiis perferendis! Inventore voluptates consequuntur voluptas accusantium pariatur unde voluptate! Ab.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo, eligendi libero nihil fugit minus rerum. Quod esse nihil quisquam doloremque, cupiditate sed aperiam adipisci officiis veniam qui dignissimos ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iure accusamus laudantium accusantium nihil commodi in temporibus, molestiae impedit debitis voluptates exercitationem beatae maiores porro obcaecati error aliquid quidem culpa.
            
        </div>
    </div>
