@import './style.css';

.title{
    margin-top: 80px;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.title h1{
    color: yellow;
}

#changeTournament{
    width: 200px;
}
.maxW{
    max-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}
.maxH-group{
    max-height: 675px;
    overflow:auto;
    min-height: 675px;
}

.custom-card,.card-header{
    color: white;
    background: rgba(71, 1, 1, 0.7) !important;
}

.custom-card,.card-body{
    color: white;
    background: rgba(71, 1, 1, 0.5) !important;
}
.custom-card .list-group{
    color: white;
    background: rgba(122, 122, 122, 0.05) !important;

}
.custom-card .list-group-item{
    color: white;
    background: rgba(122, 122, 122, 0.05) !important;
    border-width: 3px;
}

.finished{
    color: gray !important;
}

.info{
    color: white;
}

.numPlayer{
    width: 175px;
    background: rgb(141, 0, 0) !important;
    border: 1px solid rgb(65, 3, 3) !important;
}

